---
title: Corporativo Jurídico Inmobiliario 
---
.row
  .span4.offset1
    .titlep    
      Corporativo Jurídico Inmobiliario
.row
  .span5.offset1
    .text
      Le damos la bienvenida<br/>
      Somos un Corporativo ubicado en la Ciudad de México con experiencia de diez años en el mercado Jurídico Inmobiliario, lo que nos permite brindar a nuestros clientes una asesoría personal e integral al momento de confiarnos algún asunto legal o bien cuando es su voluntad vender o rentar su propiedad ofreciéndoles el respaldo jurídico en cada operación, ya que nuestro equipo de ventas se encuentra apoyado por nuestro Departamento Jurídico. En el área de Remates Judiciales ponemos a su disposición el listado de inmuebles a Rematar en el Distrito Federal y Estado de México, con un descuento hasta del cincuenta por ciento.<br/>
      <br/>
      
  .span5
    #myCarousel.carousel.slide
      .carousel-inner
        .item
          = image_tag "/images/mercantil.png"
          .carousel-caption
            %h4 Asesoría Materia Mercantil
            %p
        .item.active
          = image_tag "/images/familiar.png"
          .carousel-caption
            %h4 Asesoría Materia Familiar
            %p
        .item
          = image_tag "/images/penal.png"
          .carousel-caption
            %h4 Asesoría Materia Penal
            %p
        .item
          = image_tag "/images/laboral.png"
          .carousel-caption
            %h4 Asesoría Materia Laboral
            %p

        .item
          = image_tag "/images/civil.png"
          .carousel-caption
            %h4 Asesoría Materia Civil
            %p

        .item
          = image_tag "/images/inmuebles.jpg"
          .carousel-caption
            %h4 Asesoría Compra-Venta de Inmuebles
            %p
        .item
          = image_tag "/images/remates.png"
          .carousel-caption
            %h4 Asesoría Remates Judiciales
            %p
      //%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
      //%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
      


