---
title: Corporativo Jurídico Inmobiliario 
---
.row
  .span4.offset1
    .titlep    
      Corporativo Jurídico Inmobiliario
.row
  .span5.offset1
    .text
      Le damos la bienvenida<br/>
      <br/>
      Somos un Corporativo ubicado en la Ciudad de México con experiencia de diez años en Remates Judiciales, lo que nos permite brindar a nuestros clientes una asesoría personal e integral al momento de adquirir un inmueble mediante Remate Judicial obteniendo grandes beneficios económicos ya que los inmuebles se adquieren hasta en un cincuenta por ciento debajo de su valor comercial. <br/>
      <br/>
      En esta área de Remates Judiciales ponemos a su disposición el listado de inmuebles a Rematar en el Distrito Federal y Estado de México, lista que se actualiza cada semana lo que nos permite tener una información al día de lo que sale a remate en los Juzgados del Distrito Federal.<br/> 
      <br/>
      %img{:src => "/images/remates.png", :alt => "Nosotros"}
            
  .span5
    #myCarousel.carousel.slide
      .carousel-inner
        .item
          = image_tag "/images/mercantil.png"
          .carousel-caption
            %h4 Asesoría Materia Mercantil
            %p
        .item.active
          = image_tag "/images/familiar.png"
          .carousel-caption
            %h4 Asesoría Materia Familiar
            %p
        .item
          = image_tag "/images/penal.png"
          .carousel-caption
            %h4 Asesoría Materia Penal
            %p
        .item
          = image_tag "/images/laboral.png"
          .carousel-caption
            %h4 Asesoría Materia Laboral
            %p

        .item
          = image_tag "/images/civil.png"
          .carousel-caption
            %h4 Asesoría Materia Civil
            %p

        .item
          = image_tag "/images/inmuebles.jpg"
          .carousel-caption
            %h4 Asesoría Compra-Venta de Inmuebles
            %p
        
    .row
    .span5.offset1
    .text
      <br/>
      También ofrecemos nuestros servicios para invertir en la compra de Derechos Litigiosos ya que tenemos la cartera de juicios de Banamex y Santander quienes ofrecen vender los Derechos Litigiosos en las diferentes etapas de los procesos legales que han iniciado en contra de sus clientes por falta de pago, siendo una buena opción de inversión ya que se cuenta en todos los casos con Juicios debidamente garantizados mediante la hipoteca de los bienes inmuebles.<br/>      
      <br/>

      Nuestra experiecia nos permite brindar a nuestros clientes una asesoría personal e integral al momento de confiarnos algún asunto legal o bien cuando es su voluntad vender o rentar su propiedad ofreciéndoles el respaldo jurídico en cada operación, ya que nuestro equipo de ventas se encuentra apoyado por nuestro Departamento Jurídico. <br/>  
//%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
//%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
  


